@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.soulAI-wrapper {
    position: relative;
    background-image: linear-gradient(#034D9A, #011A34, #011A34, #011A34);
    width: 100%;
    height: 150vh;
}

.soulAI-wrapper .title.text {

    COLOR: WHITE;
    FONT-FAMILY: 'MONTSERRAT';
    FONT-SIZE: 60PX;
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: CENTER;
}

.chatbotAImessageWrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 600px;
    border: 1px solid white;

    border-radius: 10px;
    margin: 0px auto;
    overflow-y: scroll;
}

.wrapperInput {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    display: flex;
    align-items: center;

}

.inputText {
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(49, 3, 255);
}

.inputSend {
    border: none;
    background-color: #fff;
    height: 30px;
    margin-left: 10px;
    font-family: monospace;
}

.user_message {
    display: none;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    width: max-content;
    height: max-content;
    max-width: 500px;
    max-height: max-content;
    border-radius: 10px;
    background-color: white;
    color: rgb(19, 22, 214);

    border-radius: 10px;
    font-size: 18px;
}

.system_message {
    width: max-content;
    height: max-content;
    max-width: 500px;
    max-height: max-content;
    border-radius: 10px;
    font-size: 18px;
    display: none;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    color: rgb(19, 22, 214);

    border-radius: 10px;
}